PORT=8080
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/sesionesDB?retryWrites=true&w=majority&appName=commerceCluster
SECRET=secret_key_here
JWT_SECRET=secret_jwt_key_here
NODE_ENV=development
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK=http://localhost:8080/api/v1/auth/google/callback